.marco{
  width: 1000px;
  height: 464px;
  background: rgb(87, 176, 228);
  margin-left: 190px;
  margin-top: 240px;
  overflow: hidden;
  }

.row{
  padding-bottom: 26px;
  }

.container-fluid{
  background: rgb(87, 176, 228);
  overflow: hidden;
  }

.fotere{
  background-image: linear-gradient(to top, #3972C7 0%, #001030 100%); 
  width: 100%;
  text-indent: 32px;
  font-size: 14px;
  color: rgb(200, 255, 255);
  position: fixed;
  bottom: 0px;
  height: 32px;
  display: flex;
  padding-top: 6px;
  }

.addresse{ 
  font-size: 0.8em;
  font-weight: bold ;
  position: fixed;
  top: 19px ;
  left: 1136px;
  width: 20em;
  color: rgb(200, 255, 255); 
  }

  .fondo2{
    box-sizing: border-box; 
    border: 0;
    background: rgb(87, 176, 228);
    width:auto;
    height: 1em;
    margin-top: 3em; 
    }  